*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    min-height: 100svh;
    background-color:  rgb(37, 0, 0)   ;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 1rem;
    height: 10rem;
    background-color: rgb(0, 0, 0);
    
}

header ul{
    display: flex;
    gap: 3rem;
    list-style:none;
  justify-content: center;

}

header a{
    text-decoration: none;
    color: aliceblue;
    font-size: 50px;
    font-weight: 700;
    margin-right: 20px;
}


header img{
    display: flex;
    height: 9rem;
    padding-top: 1rem;
    margin-left: 50px;
}

header li:hover{
    transform: scale(1.1);
}


.produto{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    max-width: 1200px;
    margin: 50px auto;
    margin-top: 150px;
}

#comprar{
    max-width: 500px;
    height: auto;
    border-radius: 5%;
}

.botaocomprar h2, .botaocomprar h3{
    color: aliceblue;
    margin: 10px auto;
    
}

.botaocomprar{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.botaocomprar h2{
    display: flex;
    position: relative;
    top: -10px;
    font-size: 40px;


}

#valor{
    position: relative;
    left: -200px;
    top: -10px;
    font-size: 25px;
    font-weight: 200;
}

#compra{
    margin-top: 150px;
  color: rgb(185, 1, 1);
  padding: 20px;
  padding-inline: 100px;
  display: inline-block;
  background-color: rgb(255, 255, 255);
    
}

#valorzinho{
    color: rgb(218, 220, 221);
}

#valorzinho1{
    color: rgb(201, 27, 27);
}

#valorzinho1 strong{
    color: aliceblue;
}

#compra:hover{
    transform: scale(1.1);
}